#### Date : 23 July 2019

#### Day Objectives
* Tuples 
* Dictionaries
* Regular Expression
* Date and Time Arithmetic
* Iterators

#### Python Tuples

In [1]:
t1 = (1001, 'name', 72, 90)

In [5]:
t1[0]
t1[2:]

(72, 90)

In [15]:
t2 = (321, 654, 789098, 6453, 75456)
# Accessing all the second digits of elements in a tuple
print(str(t2[0])[1],  str(t2[1])[1], str(t2[2])[1])

2 5 8

In [18]:
# Funtion to calculate the Average of all elements in a tuple
def averageTuple(t):
    sum = 0
    for i in range(0, len(t)):
        sum += t[i]
    return sum/len(t)
li = [123, 243, 455, 670, 890]
averageTuple(li)

476.2

In [22]:
# Funtion to search in a Linear Data Structure

def searchLinearDs(ds, key):
    for i in range(0, len(ds)):
        if ds[i] == key:
            return i
    return -1
    
searchLinearDs(li, 455)

2

#### Iterable Objects

In [24]:
# Funtion to identify the maximum element in a ds as Iterable object

def maxElementDs(ds):
    m = 0
    for item in ds:
        if item > m:
            m = item
    return m

maxElementDs(li)

890

#### Python Dictionaries

In [34]:
d1 = {'name1':12344232, 'name2':321324523}
print(d1['name2'])
d1.keys() # All keys in a dictionary are unique
d1.values()

321324523

dict_values([12344232, 321324523])

In [41]:
d1['name4'] = 45151541545
d1

{'name2': 321324523,
 'name1': 45151541545,
 'name3': 45151541545,
 'name4': 45151541545}

In [42]:
d1.pop('name4') # Removes a key and value
d1

{'name2': 321324523, 'name1': 45151541545, 'name3': 45151541545}

In [53]:
# Contacts Application
# Display, Add, Modify and Delete Contacts


contacts = {}

def addContact(d, name, phone):
    d[name] = phone
    return


def displayContacts(contacts):
    for name, phone in contacts.items():
        print(name, ":", phone)
    return

def modifyContacts(contacts, name, newphone):
    contacts[name] = newphone
    return

def deleteContact(contacts, name):
    contacts.pop(name)
    return

In [57]:
addContact(contacts, 'name2', 8877841567)
addContact(contacts, 'name1', 8877841111)

In [60]:
displayContacts(contacts)

name1 : 9825468971
name2 : 8877841567

In [51]:
contacts.items() # List of all items

dict_items([('name2', 8877841567), ('name1', 8877841111)])

In [59]:
modifyContacts(contacts, 'name1',9825468971)

In [5]:
li2 = [1, 2, 3, 4]
li2 = list(reversed(li2))
li2

[4, 3, 2, 1]

#### Regular Expressions

[0-9] RE for all digits
[0, 1, 2, 3 ... 9]

[a-z] RE for all lower case alphabet
[A-Z] RE for all upper case alphabet

In [ ]:
# Function to validate collage student roll no



# Function to validate indian phone numbers starting 9, 8, 7, 6, and 

# Function to validate email address
    username@domain.extension
    username = {string of length 9. can contain digits, _, alphabets}
    domain = (string of 9. can contain digits and alphabet)
    extension = {length of 3. Only alphabet}

In [10]:
# Function to validate indian phone numbers starting 9, 8, 7, 6

import re
def phoneNumberValidator(phone):
    phone = str(phone)
    pattern = '^[6-9][0-9]{9}$'
    if re.match(pattern, phone):
        return True
    return False

phoneNumberValidator(9160664877)

False

#### python split string by comma

In [14]:
s1 = 'The core of extensible programming is defining functions, Python allows mandatory, optional arguments, keyword arguments, and even arbitrary argument lists.'

In [15]:
inList = re.split('[,][\ ]', s1)

inList

['The core of extensible programming is defining functions',
 'Python allows mandatory',
 'optional arguments',
 'keyword arguments',
 'and even arbitrary argument lists.']

#### Python Date Time Arithmetic

In [16]:
import datetime

now = datetime.datetime.now()
datetime.datetime.now().year
print(now.hour, now.minute, now.second)

15 35 15

In [20]:
# Function to find the difference between two given date
# YYYY:MM:DD is the date format as a string 
import datetime
def dateDifference(date1, date2):
    year1 = int(date1[:4])
    month1 = int(date1[5:7])
    day1 = int(date1[8:])
    year2 = int(date2[:4])
    month2 = int(date2[5:7])
    day2 = int(date2[8:])
    date1 = datetime.date(year1, month1, day1)
    date2 = datetime.date(year2, month2, day2)
    return date2 - date1

print(dateDifference('2019:05:27','2019:06:01'))

5 days, 0:00:00