In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

C:\Users\faiza\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\faiza\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
iris = pd.read_csv("C:\\Users\\faiza\\Downloads\\iris.csv")

In [4]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
iris.shape

(150, 5)

In [6]:
iris.Species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [7]:
# Settings up predictors and targets
colnames = list(iris.columns)
colnames

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [8]:
Inputs = colnames[:4]
Inputs

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width']

In [11]:
Outputs = colnames[4]
Outputs

'Species'

In [16]:
iris.shape
len(iris)

150

In [17]:
np.random.uniform(0,3,10)

array([1.8879524 , 1.34070646, 1.27297062, 0.20895002, 0.51639461,
       0.69822698, 1.05848219, 2.05863038, 2.10433786, 0.07722773])

In [23]:
iris['IsTrain'] = np.random.uniform(0,3,len(iris)) <=0.75
iris.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species  IsTrain
145           6.7          3.0           5.2          2.3  virginica     True
146           6.3          2.5           5.0          1.9  virginica    False
147           6.5          3.0           5.2          2.0  virginica    False
148           6.2          3.4           5.4          2.3  virginica    False
149           5.9          3.0           5.1          1.8  virginica    False

In [27]:
# adding True, False value to Training set & Test set
train,test = iris[iris['IsTrain'] == True],iris[iris['IsTrain']==False]
train.shape
#test.shape

(39, 6)

In [28]:
test.shape

(111, 6)

In [29]:
train1,test1 = train_test_split(iris,test_size = 0.2)

In [31]:
test1.shape

(30, 6)

In [32]:
input1 = train1.iloc[:,:4]
output1 = train1.iloc[:,4]

testip = test1.iloc[:,:4]
testop = test1.iloc[:,4]

In [33]:
print(input1.shape)
print(output1.shape)
print(testip.shape)
print(testop.shape)

(120, 4)
(120,)
(30, 4)
(30,)

In [36]:
# Creating decision tree classifier model
dtree = DecisionTreeClassifier(criterion = 'entropy')
dtree.fit(input1,output1)

preds = dtree.predict(testip)

preds

array(['virginica', 'setosa', 'versicolor', 'virginica', 'setosa',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'virginica', 'setosa', 'versicolor', 'virginica', 'setosa',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'setosa',
       'versicolor', 'setosa', 'versicolor', 'setosa', 'setosa',
       'versicolor', 'setosa', 'versicolor', 'virginica', 'virginica'],
      dtype=object)

In [41]:
type(preds)
preds
preds1 = pd.DataFrame(preds)
type(preds1)

pandas.core.frame.DataFrame

In [42]:
# getting unique value count
pd.Series(testop).value_counts()

versicolor    12
setosa        12
virginica      6
Name: Species, dtype: int64

In [43]:
confuqqqqqqqq1*9sion_matrix(testop,preds)

array([[12,  0,  0],
       [ 0, 12,  0],
       [ 0,  0,  6]], dtype=int64)

In [44]:
30/30

1.0

In [45]:
#Accuracy = train
accuracy_score(testop,preds)

1.0

In [46]:
# Accuracy = Test
np.mean(preds == testop)

1.0

In [47]:
preds == testop

100    True
37     True
87     True
127    True
1      True
57     True
62     True
53     True
6      True
68     True
143    True
13     True
65     True
122    True
35     True
93     True
22     True
3      True
82     True
10     True
58     True
34     True
50     True
32     True
38     True
72     True
28     True
94     True
128    True
107    True
Name: Species, dtype: bool